body{
    background-color: #0F051D;
}
.form-title{
    font-size: 64px;
}
.text-gradiant{
    background-image:  linear-gradient(25deg, #2600fc, #ff00ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.form-bg{
    border-radius: 32px;
    border: 1px solid rgba(131, 131, 131, 0.25);
    position: relative;
    padding: 60px 56px;
    background-color: rgba(255, 255, 255, 0.05);
}

img{
    position: fixed;
    -webkit-filter: blur(80px);
    filter: blur(80px);
    width: 500px;
    height: 50vh;
    mix-blend-mode: soft-light;
}

input{
    background: rgba(255, 255, 255, 0.05)!important;
    border-radius:  50px !important;
    padding: 16px 25px !important;
    color: white !important;
}
input:focus{
    background: rgba(255, 255, 255, 0.05) !important;
    border: 1px white solid !important;
}
::placeholder{
    color: rgba(255, 255, 255, 0.315) !important;
}
.btn-gradiant{
    background-image: linear-gradient(25deg, #2600fc, #ff00ea);
    border-radius:  50px !important;
}